.quiz-container {
	width: 500px;
	margin: 0 auto;
	padding-bottom: 80px;
}	

.quiz-container h2 {
	font-family: Crimson Text, serif;
}

.quiz-question-container {
	margin-top: 40px;
}

table {
	border: 1px solid white;
	border-collapse: collapse;
}

td {
	min-width: 50px;
	padding: 10px;
	text-align: center;
}

table , th, td {
	border-bottom: 1px solid white;
}

tr:hover {
	background-color: rgba(255,255,255,0.1);
}

.indicator {
	position: relative;
	top: 40px;
	left: -30px;
}

.selected {
	background-color: rgba(255,255,255,0.1);
}

.quiz-results {
	margin-top: 60px;
}

g {
	fill: white;
}

.compare {
	margin-top: 60px;
}

.compare h2 {
	opacity: 0.75;
	margin-bottom: -30px;
}

.quiz-button {
	border: 1.5px solid white;
	margin: 0 auto;
	width: 190px;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	transition: 500ms ease-out;
}

.quiz-button:hover {
	background-color:white;
	font-weight: 400 !important;
	color: #1E122C;
}

@media only screen and (max-width: 500px) {
	.quiz-container {
		width: 275px;
	}
}
